@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-accent: #FAF7F1;
  --gray:#DDDDDD;
  --gray-light:#747474;
  --gray-dark:#3E3E3E;
  --red-light:#FF3451;
  --red-dark:#e31235;
  --red-hover:#fadbda;
  --brown-light:#D7B399;
  --brown-dark:#9d825d;
  --blue-light:#40A3F8;
  --blue-dark:#1D76F5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #313039;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/*@layer components {*/
/*  .btn {*/
/*    @apply px-4 py-2 font-semibold rounded-full transition duration-200 ease-in-out transform;*/
/*  }*/
/*  .btn-primary {*/
/*    @apply bg-blue-500 text-white hover:bg-blue-600;*/
/*  }*/
/*  .btn-secondary {*/
/*    @apply bg-gray-500 text-white hover:bg-gray-600;*/
/*  }*/
/*}*/

